click>=7.0,<9.0
click-help-colors>=0.9.1,<0.10
rich>=11.0,<14.0
langchain==0.2.10
langchain-community==0.2.1
langchain-core==0.2.1
langchain-experimental==0.0.59
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langchainhub==0.1.16